<div fxLayout="column">
  <div fxLayoutAlign="center center">
    <mat-toolbar color="primary" fxLayoutAlign="center center">
      <span>UI Builder v1.0.0</span>
    </mat-toolbar>
  </div>
  <div style="padding-top: 10px;">
    <div fxFlex="20" style="padding: 20px;">
      <div cdkDropList #todoList="cdkDropList" [cdkDropListData]="componentList.basic"
        [cdkDropListConnectedTo]="[doneList]">
        <div class="basic_drag mat-elevation-z4" *ngFor="let comp of componentList.basic" cdkDrag>
          <div fxLayout="row">
            <mat-icon style="margin-right: 5px; font-size: 16pt;">{{comp.icon}}</mat-icon>
            <div style="font-size: 12pt;">{{comp.label}}</div>
          </div>
          <div class="example-custom-placeholder" *cdkDragPlaceholder fxLayoutAlign="center center">
            <mat-icon>keyboard_arrow_left</mat-icon>
            <div>
              Drop here
            </div>
            <mat-icon>keyboard_arrow_right</mat-icon>
          </div>
        </div>
      </div>
    </div>
    <div fxFlex="60" fxLayout="column" fxLayoutAlign="start stretch">
      <div fxLayout="column" fxLayoutAlign="center center">
        <div style="text-align: center;">
          <div>
            <button mat-icon-button matTooltip="Mobile view" (click)="onMobilePreview()">
              <mat-icon>phone_iphone</mat-icon>
            </button>
            <button mat-icon-button matTooltip="Desktop view" (click)="onDesktopPreview()">
              <mat-icon>computer</mat-icon>
            </button>
          </div>
        </div>
        <div id="preview_container" class="example-list" style="width: 100%;" [style]="mainData.style" cdkDropList
          #doneList="cdkDropList" [cdkDropListData]="mainData.data" [cdkDropListConnectedTo]="[todoList]"
          (cdkDropListDropped)="drop2($event)">
          <div fxLayout="row" fxLayoutAlign="space-evenly stretch" style="width: 100%;" class="example-box"
            (click)="onSelected(i, intex)" *ngFor="let item of mainData.data; let i = index;" cdkDrag>
            <div class="component_viewer" fxLayout="column" style="width: 100%;">
              <!-- <mat-card class="mat-elevation-z4" fxLayout="column" fxLayoutAlign="space-between center"
                [fxShow]="item.expand" style="width: 100%; padding: 5px; margin-bottom: 20px; margin-top: 20px;">
                <div style="width: 100%;" fxLayout="row wrap" fxLayoutAlign="space-between center">
                  <div fxFlex="10"></div>
                  <b fxFlex="58" style="text-align: center; font-size: 9pt;">No.{{i+1}}  Action mode -> [ {{item.label}} ]</b>
                  <div fxFlex="30" fxFlex.lt-sm="100" fxLayout="row wrap" fxLayoutAlign="end end">
                    <button matTooltip="Edit" mat-icon-button (click)="onChangeSave(i, item)">
                      <mat-icon>done_outline</mat-icon>
                    </button>
                    <button matTooltip="Edit" mat-icon-button>
                      <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button matTooltip="Duplicate">
                      <mat-icon>content_copy</mat-icon>
                    </button>
                    <button mat-icon-button matTooltip="Delete" color="warn" (click)="onDelete(i, item)">
                      <mat-icon>delete</mat-icon>
                    </button>
                  </div>
                </div>
                <div style="width: 80%; padding-bottom: 30px;">
                  <app-vessel [value]="item"></app-vessel>
                </div>
              </mat-card> -->
              <div class="component_viewer" fxLayout="column" style="width: 100%;">
                <div>
                  <div style="padding: 5px; padding-left: 20px; padding-right: 20px;">
                    <app-vessel [value]="item"></app-vessel>
                  </div>
                </div>
                <div class="example-custom-placeholder" *cdkDragPlaceholder fxLayoutAlign="center center">
                  <mat-icon>keyboard_arrow_left</mat-icon>
                  <div>
                    Drop here
                  </div>
                  <mat-icon>keyboard_arrow_right</mat-icon>
                </div>
              </div>
          </div>
          <div class="action_viewer">
            <div style="width: 100%;" fxLayoutAlign="end end">
              <button mat-icon-button>
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button>
                <mat-icon>content_copy</mat-icon>
              </button>
              <button mat-icon-button color="warn" (click)="onDelete(i, item)">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
    <div fxFlex="20" style="padding: 20px;">
      <ace-editor [(text)]="mainDataInString" mode="json" style="height:400px;"></ace-editor>
      <ngx-json-viewer [json]="mainData"></ngx-json-viewer>
    </div>
  </div>
</div>